.note-header {
  font-size: 0.7em;
  color: #999;
  margin-bottom: 3px;
}

.note-content {
  font-size: 1em;
}

.note-header-delete {
  cursor: pointer;
  color: #aaa;
  text-decoration: underline;
}

.note-header-delete:hover, .note-header-delete:active {
  color: red;
}
